/*
 *  Natural & Versatile palette
 */
#paginator-listing .card-stacked .card-content p {
  max-height: 7rem;
  overflow-y: scroll;
}
#paginator-listing .card-stacked .card-action a {
  display: flex;
  align-items: center;
}
#paginator-listing .card-stacked .card-action a img {
  max-height: 1.5rem;
  display: inline;
  margin-left: 10px;
  transition: opacity 0.25s;
}
#paginator-listing .card-stacked .card-action a:hover img {
  opacity: 0.5;
}
ul.navigator {
  display: flex;
  justify-content: center;
}
ul.navigator li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #626D71;
  color: #CDCDC0;
  border: 1px solid #CDCDC0;
  border-radius: 5px;
  display: inline-block;
  padding: 0px 10px;
}
ul.navigator li i {
  font-weight: 700;
  font-size: 2rem;
  width: 20px;
  margin-left: -10px;
}
ul.navigator li:hover {
  background-color: #CDCDC0;
  color: #626D71;
}
ul.navigator li.active {
  color: #CDCDC0;
  background-color: #B38867;
}
