<div>
    <mploader class="flex-center" ng-show="loading"/>
    <div id="paginator-listing">
        <div ng-repeat="data in dataDict[page]" class="card horizontal">
            <div class="card-image">
                <img ng-src="{{apiConfig.images.secure_base_url+apiConfig.images.poster_sizes[5]+data.poster_path}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>{{data.title}}</h4>
                    <p>{{data.overview}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Get!</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="navigator">
        <li ng-show="scope.page > 1" class="btn waves-effect waves-light"><i class="material-icons">navigate_before</i><i class="material-icons">navigate_before</i></li>
        <li ng-show="scope.page > 1" class="btn waves-effect waves-light"><i class="material-icons">navigate_before</i></li>
        <li ng-repeat="i in getNumber(number)" class="btn waves-effect waves-light"><span>{{$index+1}}</span></li>
        <li ng-show="page < total_pages;" class="btn waves-effect waves-light"><i class="material-icons">navigate_next</i></li>
        <li ng-show="page < total_pages" class="btn waves-effect waves-light"><i class="material-icons">navigate_next</i><i class="material-icons">navigate_next</i></li>
    </ul>
</div>