<div>
    <mploader class="flex-center" ng-show="loading"/>
    <div id="paginator-listing">
        <div ng-repeat="data in dataDict[page]" class="card horizontal">
            <div class="card-image">
                <img ng-src="{{apiConfig.images.secure_base_url+apiConfig.images.poster_sizes[5]+data.poster_path}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>{{data.title}}</h4>
                    <p>{{data.overview}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Get!</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="navigator">
        <li ng-show="page > 1" ng-click="firstPage()" class="btn waves-effect waves-light"><i class="material-icons">navigate_before</i><i class="material-icons">navigate_before</i></li>
        <li ng-show="page > 1" ng-click="prevPage()" class="btn waves-effect waves-light"><i class="material-icons">navigate_before</i></li>
        <li ng-repeat="i in availablePageNumbers()" ng-click="toPage(i)" class="btn waves-effect waves-light " ng-class="{'active': i == page}"><span>{{i}}</span></li>
        <li ng-show="page < total_pages;" ng-click="nextPage()" class="btn waves-effect waves-light"><i class="material-icons">navigate_next</i></li>
        <li ng-show="page < total_pages" ng-click="lastPage()" class="btn waves-effect waves-light"><i class="material-icons">navigate_next</i><i class="material-icons">navigate_next</i></li>
    </ul>
</div>