
@import "./colors.less";

ul.navigator{
    
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @color_slate;
        color: @color_ceramic;
        border: 1px solid @color_ceramic;  
        border-radius: 5px;
        display: inline-block;
        &:hover {
            background-color: @color_ceramic;
            color: @color_slate;
        }
    }

}